rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /missions/{document} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, write, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
    match /robotProfiles/{document} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, write, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }
  }
}
